body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.top, .content, .quote, .bottom {
    flex: 1
}

.top, .footer {
    background-color: #1F2937;
}

.header-above, .header-below {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 16px 150px;
}

.left, .right {
    width: 500px;
}

#right-links {
    display: flex;
    justify-content: flex-end;
}

.right {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.top {
    font-size: 18px;
    color: #E5E7EB;
}

.top a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.top p {
    margin: 0;
}

.top button {
    color: #F9FAF8;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 8px;
    width: 125px;
    height: 40px;
    margin-top: 16px;
    font-weight: bolder;
}

.main-text {
    font-size: 48px;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

#info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex: none;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 70px;
}

.box-info {
    display: flex;
    flex-direction: column;
    flex: none;
    align-items: center;
}

.box {
    border: 3px solid #1890ff;
    border-radius: 10%;
    width: 200px;
    height:200px;
}

.box-info p {
    width: 200px;
    color: rgb(110, 110, 110);
    text-align: center;
}

.quote {

}

.bottom {

}

.footer {

}